<IfModule mod_rewrite.c>
    # Desactivamos las Multiviews, es decir,
    # que si no encuentra un archivo en la carpeta public/ que redireccione automaticamente al index.php
    Options -Multiviews
    # Activar el motor de reescritura
    RewriteEngine on
    # Con RewriteBase se define desde qué directorio se debe acceder a la RewriteRule 
    #RewriteBase /agendapublic/public
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>